<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smart.example.mapper.RolePermissionMapper">
    <resultMap id="PermissionDtoBaseResultMap" type="com.smart.example.dto.PermissionDto"
               extends="com.smart.example.mapper.PermissionMapper.BaseResultMap">
    </resultMap>

    <resultMap id="BaseResultMap" type="com.smart.example.dto.RoleDto"
               extends="com.smart.example.mapper.RoleMapper.BaseResultMap">
        <collection property="permissions" resultMap="PermissionDtoBaseResultMap"/>
    </resultMap>

    <select id="selectRolesByUserId" resultMap="BaseResultMap">

        select  *
        from sys_user u
        left  join sys_user_role ur on u.uid = ur.uid
        left  join sys_role r  on  r.role_id = ur.role_id
        left  join  sys_role_permission rp  on  rp.role_id = r.role_id
        left  join  sys_permission  p on p.per_id = rp.per_id
        where  u.uid =#{uid}  and  p.is_del = 0  and  r.is_del  = 0



    </select>
</mapper>